@import './header.css';

main{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-direction: column;
}

table{
    width: 900px;
    text-align: center;
}

th{
    padding: 8px;
}

td{
    padding: 8px; 
}

.quantity-controls {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.qty-btn {
    background: transparent;
    border: none;
    cursor: pointer;
    font-size: 10px;
    color: #000;
    padding: 2px;
    line-height: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.qty-btn:hover {
    color: #555;
    transform: scale(1.2);
}

.qty-number {
    font-size: 14px;
    font-weight: 600;
}

#buttonremove{
    background-color: #fff;
    width: 20px;
    height: 20px;
    color: #000;
    font-weight: bold;
    border: 0;
    cursor: pointer;
}

.continuarbutton{
    display: flex;
    width: 200px;
    height: 50px;
    background-color: #000;
    align-items: center;
    justify-content: center;
    margin-left: 700px;
}

.continuarbutton a{
    color: #FFF;
    font-weight: bold;
}

@media only screen and (max-width: 920px){

    table{
        width: 800px;
        font-size: 15px;
        
    }
    
    th{
        padding: 5px;
    }
    
    td{
        padding: 5px; 
    }

    .continuarbutton{
        margin-left: 400px;
    }
}

@media only screen and (max-width: 800px){

    table{
        width: 500px;       
    }
    
    td img{
        width: 200px;
        height: 200px;
    }

    .continuarbutton{
        margin-left: 400px;
    }
}

@media only screen and (max-width: 620px){

    table{
        width: 500px;
        font-size: 9px;
        
    }

    .continuarbutton{
        margin-left: 250px;
    }
}

@media only screen and (max-width: 414px){

    table{
        width: 100px;
        font-size: 8px;
        
    }
    
    td img{
        width: 100px;
        height: 100px;
    }

    .continuarbutton{
        width: 150px;
        height: 30px;
        margin-left: 100px;
    }
}
 
@media only screen and (max-width: 320px){

    table{
        width: 100px;
        text-align: center;
        
    }
    
    th{
        padding: 2px;
    }
    
    td{
        padding: 2px; 
    }
}