@import './header.css';

.mainshop{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 100px;
}

.filters{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 450px;
    margin-left: 100px;
}

.filters a{
    color: #000;
    font-weight: bold;
}

.shopitems{
    display: flex;
    flex-direction: row;
    margin-bottom: 400px;
    margin-left: 100px;
    gap: 20px;
    text-align: center;
}

.shopitems a{
  font-style: italic;
  color: #000;
}

@media only screen and (max-width: 1260px){

  .shopitems{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    margin-top: 5px;
}

.filters{
  flex-direction: column;
  margin-bottom: 400px;
  margin-left: 0px;
}

.mainshop{
  padding: 50px;
}

}

@media only screen and (max-width: 1095px){

  .shopitems{
    grid-template-columns: repeat(3,1fr);
}

.filters{
  margin-bottom: 650px;
}

}

@media only screen and (max-width: 880px){

  .shopitems{
    grid-template-columns: repeat(2,1fr);  
}

}

@media only screen and (max-width: 670px){
  
  .shopitems{
    grid-template-columns: repeat(1,1fr);
    margin-left: 0px;   
}

.filters{
  margin-bottom: 50px;
  font-size: 15px;
  flex-direction: row;
}

.mainshop{
  flex-direction: column;
}

.shopitems img{
  width: 300px;
  height: auto;
}

}

@media only screen and (max-width: 320px){

  .filters{
      font-size: 12px;
  }

}
